mixin loginForm()
  form.form(action="/login" method="POST")
      h2 Login
      label(for='email')
      input(type='email' name='email')
      input(type='password' name='password')
      input(type='submit' value='Log in ➡️')
