//pug files use the tag name followed by the content.  To nest items you have to indent and it MUST be consistent
//throughout the project or it will be a disaster
div.wrapper
  p.hello Hello!
  span#yo Yo!!!