////pug files use the tag name followed by the content.  To nest items you have to indent and it MUST be consistent
////throughout the project or it will be a disaster//div is also assumed if you type just a .wrapper it will be a div
////with a class of wrapper
//div.wrapper.ohnoooooo
//  //To do any javascript use tacks - OR - run it in the curly braces (template)
//  - const upDog = dog.toUpperCase()
//  //Variables into text
//  p.hello Hello my dogs name is #{upDog}
//  p.hello Hello my dogs name is #{dog.toUpperCase()}
//  span#yo Yo!!!
//  img.dog(src='dog.jpg' alt= `Dog ${dog}`)
//  //for attributes you have to use ES6 template literals
////To put things on their own line the first item has to be indented and use | and a space then verbiage
//h2
//  | Hello,
//  em  how are you?