extends layout

block content
    .inner
        h2
        form.form(method="POST")
            h2 Reset Your Password
            label(for="password") Passsword
            input(type="password" name="password")
            label(for="password-confirm") Confirm Passsword
            input(type="password" name="password-confirm")
            input.button(type="submit" value="Reset Password ➡️")